.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;

}
h1,h2,h3,h4,h5,h6{
  margin: auto;
}

#header{
  /*margin-top: 20px;*/
  background-color: #DCDCDC;
  height: 80px;
}
#toolbar a{
  /*background-color: #e1e1e1;*/
  color: black;
  text-decoration: none;
}
.upper_header a{
  text-decoration: none;
  color: black;
}
#mainContent{
  /*margin-top: 50px;*/
}
#secondToolbar{
  background-color: #e1e1e1;
  color: black;
  /*color: #09B2D6;*/
}
#secondToolbar a{
  color: black;
  text-decoration: none;
}
#offerButton{
  background-color: #09B2D6;
  color:white;
  /*margin-left: 80px;*/
}
#footer{
   background-color: #DCDCDC;
}
.main_logo{
  /*margin-top: 0px;*/
}
.titleTextDiv{
  height: 1px;
  border-top: 3px solid #e1e1e1;
  text-align: center;
  position: relative;
}
.titleTextSpan{
  position: relative;
  top: -.7em;
  background: white;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}
#inputText{

  background-color: white;
  width: 80%;
  height: 40px;
}
#footer span{
  color:#8C8C88;
}
.exploreBox{
  border-radius: 5px;
  border:1px solid black;
  background-color: white;
  width:460px;
  padding: 5px;
  z-index: 10px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}
#exploreDropbox{
  width: 200px;
  font-weight: bold;
  margin-left: 50px;
  font-size: 16px;
}
.spanExplore{

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sendButton{
  font-size:40px;
  background-color: #09B2D6;
}
md-input-container{
  margin: 0;
}
